.Header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #77002e;
  padding: 0 10%;
}

.Logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}
